<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">

    <div style="width:20px; height:20px; background-color:rgb(248, 74, 74);"     *ngIf="appareilStatus === 'éteint'"></div>
    <div style="width:20px; height:20px; background-color:rgb(12, 202, 12);"     *ngIf="appareilStatus === 'allumé'"></div>
    <h4  [ngStyle]="{color: getColor()}">
        Appreil : {{ appareilName }} -- Statut : {{ getStatus()}}
    </h4>

    <input type="text" class="form-control" [(ngModel)]="appareilName">

    <button class="btn btn-success"
    *ngIf="appareilStatus === 'éteint'"
    (click)="onSwitch()">Allumer</button>
    <button class="btn btn-danger"
    *ngIf="appareilStatus === 'allumé'"
    (click)="onSwitch()">Eteindre</button>
</li>